head,
body,
html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	line-height: 25px
}

.mobile-only {
	display: none
}

.desktop-only {
	display: block
}

@media (max-width: 576px) {
	.mobile-only {
		display: block
	}

	.desktop-only {
		display: none
	}
}
/*scrollbar*/
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

::-webkit-scrollbar-thumb:active {
  background: #888;
}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif
}

.header-user-link {
	display: inline-block
}

.header-user-link svg {
	cursor: pointer;
	display: none;
	fill: #aaa;
	margin: 0 15px;
	position: relative;
	top: 13px;
	visibility: hidden;
	width: 45px
}

.header {
	background-color: #fff;
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
	padding-left: 0;
	width: 100%;
	z-index: 3
}

.header ul {
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0
}

.header-link,
.header-link:hover,
.header-link:active,
.header-link:visited,
.header-link:checked {
	color: #000;
	display: inline-block;
	margin: 0 10px;
	padding: 35px 0 28px;
	text-decoration: none
}

.header a:hover {
	color: #41c0f1
}

@media (max-width: 960px) {
	.header{
		position:sticky;
		top:0;
	}
	.header-link {
		color: #000;
		padding: 20px 0 20px 20px;
		text-decoration: none
	}

	.header-more-content {
		border-top: 1px solid #ddd
	}

	.header-more-content .header-link {
		display: none
	}
}

.header-logo {
	height: 75px;
	margin: 5px 0 0 15px;
	padding: 10px;
	width: auto
}

@media (max-width: 960px) {
	.header-logo {
		height: 60px;
		margin-top: 0;
		padding: 10px;
		width: auto
	}
}

.header .header-menu {
	float: right
}

.header-menu-div,
.header-menu-div-signup {
	border-bottom: 3px solid transparent;
	display: inline-block
}

@media (max-width: 960px) {
	.header .header-menu {
		background-color: #fff;
		height: 0;
		overflow: hidden;
		position: absolute;
		width: 100%;
		z-index: 99999
	}

	.header-menu-div,
	.header-menu-div-signup {
		width: 100%
	}
}

.header .header-menu-icon {
	cursor: pointer;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none
}

@media (min-width: 960px) {
	.header .header-menu-icon {
		display: none
	}
}

@media (max-width:960px) {
	.header .header-menu-icon {
		display: block
	}
}

.header .header-menu-icon .navicon {
	background: #333;
	display: block;
	height: 2px;
	position: relative;
	width: 18px
}

.header .header-menu-icon .navicon:before,
.header .header-menu-icon .navicon:after {
	background: #333;
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%
}

.header .header-menu-icon .navicon:before {
	top: 5px
}

.header .header-menu-icon .navicon:after {
	top: -5px
}

.header-more-icon {
	height: 15px;
	margin-left: 5px;
	position: relative;
	top: 2px;
	width: 15px
}

.header .header-menu-btn {
	display: none
}

.header .header-menu-btn:checked ~ .header-menu {
	height: auto;
	transition: all 10s
}

.header .header-menu-btn:checked ~ .header-menu-icon .navicon {
	background: transparent
}

.header .header-menu-btn:checked ~ .header-menu-icon .navicon:before {
	transform: rotate(-45deg)
}

.header .header-menu-btn:checked ~ .header-menu-icon .navicon:after {
	transform: rotate(45deg)
}

.header .header-menu-btn:checked ~ .header-menu-icon:not(.steps) .navicon:before,
.header .header-menu-btn:checked ~ .header-menu-icon:not(.steps) .navicon:after {
	top: 0
}

.button-login-signup,
.header-menu-div-signup .button-login-signup:hover {
	background-color: #41c0f1;
	border: 4px;
	border-radius: 4px;
	color: #fff;
	margin-top: 19px;
	padding: 15px 28px;
	position: relative;
	text-decoration: none;
	text-align: center;
	top: -2px
}

.icon-userlogin svg {
	margin-right: 24px;
	width: 40px
}

.icon-userlogin img {
	height: 40px;
	margin-right: 24px;
	width: 40px
}

@media (min-width: 960px) {
	.header-menu-div:hover {
		border-bottom: 3px solid #41c0f1
	}

	.header-menu-div:hover a,
	.header-menu-div:hover a svg {
		color: #41c0f1;
		fill: #41c0f1
	}
}

.header-dropdown-content {
	background-color: #fff;
	height: 0;
	min-width: 160px;
	overflow: hidden;
	position: absolute;
	z-index: 1000
}

.header-more-content .header-dropdown-content a {
	color: #000;
	display: block;
	padding: 20px;
	text-decoration: none;
	text-align: left
}

@media (min-width: 960px) {

	.header-more-content:hover .header-dropdown-content,
	.header-dropdown-content:hover {
		height: auto;
		border: 1px solid #eee
	}

	.header-more-content .header-dropdown-content a:hover {
		color: #41c0f1
	}
}

@media (max-width: 960px) {

	.header-more-content,
	.header-dropdown-content {
		height: calc(58px * 9);
		width: 100%
	}

	.header-dropdown-content a {
		margin-left: 10px
	}
}

@media (min-width: 960px) {
	.header li {
		float: left
	}
}

@media (max-width: 960px) {
	.icon-userlogin {
		align-items: center;
		border-bottom: 1px solid #ddd;
		display: inline-flex;
		padding: 20px 30px;
		width: 100%
	}

	.icon-userlogin a {
		color: #000;
		text-decoration: none
	}
}

.answers {
	font-size: 14px;
	color: #333
}

.questions {
	font-weight: 600;
	font-size: 18px;
	color: #333
}

.questions-container {
	border-left: 1px solid #ddd;
	font-family: 'Open Sans', sans-serif;
	padding-top: 20px;
}

.faq-container {
	padding: 20px;
	margin: 20px 0 50px 0;
}

.questions-container hr {
	border: 1px solid #ddd
}

@media (max-width:768px) {
	.navigator {
		display: none
	}

	.questions-container {
		border: none
	}
}

.navigator {
	padding: 14px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
}

.navigator a {
	display: block;
	padding-left: 50px;
	margin: 10px 10px;
	cursor: pointer;
	transition: all .3s ease;
	text-decoration: none;
	color: #000;
	cursor: pointer
}

.navigator a:hover {
	color: #2e5aa9;
	text-decoration: underline
}

.navigator span {
	font-weight: 800;
	padding: 20px 0 0 56px;
	color: #2e5aa9;
	display: block;
	cursor: default;
}

.page-title {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	height: 240px;
	background-color: #2E5AA9;
	text-align: center;
	padding: 50px 0;
	background-image: url(https://www.doconcall.com.my/images/new_home/doctoroncall_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.page-title span {
	font-size: 16px
}

.footer {
	background-color: #f6f6f6;
	font-family: 'Open Sans', sans-serif;
	bottom: 0;
	overflow: hidden;
	padding-bottom: 40px
}

.footer a:hover {
	color: #41c0f1
}

.first-footer p {
	color: #3c3c3c;
	line-height: 1.8em;
	margin-top: 15px;
	padding-right: 90px
}

.footer .container {
	padding: 0
}

@media (max-width:960px) {
	.first-footer p {
		padding-right: 0
	}
}

.first-footer h3 {
	color: #3c3c3c;
	font-size: 16px;
	font-weight: 700;
	margin: 27px 0
}

.footer-readmore-link {
	color: #41c0f1;
	margin-left: 20px;
	text-decoration: none
}

.footer-readmore-arrow {
	height: 15px;
	width: 15px
}

.footer-content > a {
	color: #3c3c3c;
	display: block;
	margin: 8px 0;
	text-decoration: none
}

.footer-social-media svg {
	height: 24px;
	margin-right: 5px;
	width: 24px
}

.footer-logo {
	height: 60px;
	margin-top: 33px;
	padding: 4px;
	width: auto
}

@media (max-width:768px) {
	.footer-logo {
		height: 60px;
		margin-top: 33px;
		padding: 4px;
		width: auto
	}
}

.footer-sitemap {
	margin-top: 80px
}

.footer-sitemap-title h2 {
	color: #3c3c3c;
	font-weight: 700;
	font-size: 16px;
	text-align: center
}

@media (max-width:767px) {
	.footer-sitemap-title h2 {
		color: #3c3c3c;
		font-weight: 700;
		font-size: 16px;
		text-align: left
	}
}

.footer-tabs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center
}

@media (max-width:767px) {
	.footer-tabs {
		display: flex;
		flex-wrap: wrap;
		justify-content: left
	}
}

.footer-tabs label {
	cursor: pointer;
	order: 1;
	margin: 23px
}

.footer-tabs .footer-tab {
	display: none;
	flex-grow: 1;
	order: 99;
	width: 100%
}

.footer-tabs input[type="radio"] {
	display: none
}

.footer-tabs input[type="radio"]:checked + label + .footer-tab {
	display: block
}

.footer-tab {
	margin-left: -3px;
	text-align: center
}

@media (max-width:767px) {
	.footer-tab {
		text-align: left
	}
}

.footer-tab > a {
	color: #3c3c3c;
	display: inline-block;
	text-decoration: none
}

.footer-tab a:nth-child(1) ~ a::before {
	content: "  |  "
}

.panel-doc-main-section {
	background: #2E5AA9;
	color: #fff;
	padding: 50px;
	text-align: center
}

.panel-doc-main-title {
	font-size: 24px;
	font-weight: 700
}

.panel-doc-main-subtext {
	line-height: 30px;
	margin-top: 20px
}